body{
    background-color:rgb(159, 205, 252);
}
#center{
    background-color:azure;
    margin-left:550px;
    margin-top:30px;
    width:430px;
    height:450px;
}
input{
    width:430px;
    height:60px;
    font-size: 50px;
    text-align: right;
    outline: none;
    border-width: 0px;
    background-color:rgb(165, 250, 250);
}
#eb{
    width:205px;
}
button{
    font-size: 20px;
    width:100px;
    border-radius: 100px;
    padding:10px;
    padding-top: 20px;
}
h1{
    text-align:center;
    font-size: 50px;
    color:purple;
}
#alin{
    margin-top: 130px;
}